<div>
  <header class="block-header">
    <a href="/news"> 最新动态</a>
    <a class="more active" href="/news">更多 &gt;</a>
  </header>
  <div class="row">
    <div class="col-sm-4 feature">
      <img id="home-news" width="100%" src="/img/home/home-news.jpg" alt="feature">
      <h4>美国宾州州立大学Chao-hsien Chu教授学术讲座</h4>
      <p> 《Unobtrusive Monitoring and Feature Learning to Detect Depression for Elderly with Chronic Illness》 </p>
    </div>


    <div class="col-sm-4">
      <ul class="list-unstyled">
        {% for news in list1 %}
        <li>
          <a class="title" href="/news/{{news.id}}" title="{{news.title}}">
            {{news.title}}</a>
          <time>{{news.createdTime | date: "%Y-%m-%d"}}</time>
        </li>
        {% endfor %}
      </ul>
    </div>
    <div class="col-sm-4">
      <ul class="list-unstyled">
        {% for news in list2 %}
        <li>
          <a class="title" href="/news/{{news.id}}" title="{{news.title}}">
            {{news.title}}</a>
          <time>{{news.createdTime | date: "%Y-%m-%d"}}</time>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>
