@import '../styles/mixins.less';
@import '../styles/variables.less';



ol{
  margin-left: 20px;
  margin-top: 20px;
}
li {
  font-weight: bold;
}
.application{
  font-weight: bold;
}
.directions{
  font-size: 15px;

}