@import '../styles/mixins.less';
@import '../styles/variables.less';


&{
  margin-bottom: 45px;
}
h2{
  text-align: center;
}
table{
  width:100%;;
}

#td-left{
  width: 16.6%;
  margin:auto 0;
  vertical-align: top;
}
#re-list{
  margin-top: 0px;
}