<footer>
  <section class="title">北京大学 · 智能与感知计算实验室</section>
  <section class="meta-info">
    <div class="container">
      <div class="row">
        <div class="link-col col-sm-2 ">
          <header><a href="#" class="active">站内导航</a></header>
          <ul class="list-unstyled" >
            <li><a href="/introduction">实验室介绍</a></li>
            <li><a href="/members">成员介绍</a></li>
            <li><a href="/research">科学研究</a></li>
            <li><a href="/news">新闻通知</a></li>
            <li><a href="/laboratory-recruit">招贤纳士</a></li>
            <li><a href="/downloads">资源下载</a></li>
          </ul>
        </div>
        <div class="link-col col-sm-4 ">
          <header><a href="#">友情链接</a></header>
          <ul class="list-unstyled" style="display:inline-block;vertical-align:top;">
            <li><a href="http://www.pku.edu.cn/">北京大学</a></li>
            <li><a href="http://eecs.pku.edu.cn">信息科学与技术学院</a></li>
            <li><a href="http://se.pku.edu.cn">软件工程国家工程中心</a></li>
            <li><a href="#http://www.ss.pku.edu.cn/">软件与微电子学院</a></li>
            <li><a href="http://www.ece.pku.edu.cn/">信息工程学院</a></li>
          </ul>
          <ul class="list-unstyled" style="display:inline-block;vertical-align:top;">
            <li><a href="http://www.psu.edu/">宾州州立大学</a></li>
            <li><a href="http://isp.psu.edu">宾州州立大学信息科学与技术学院</a></li>
          </ul>
        </div>
        <div class="link-col col-sm-2 ">
          <header><a href="#">网站建议</a></header>
          <ul class="list-unstyled">
            <li>hewei2015@pku.edu.cn</li>
          </ul>
        </div>
        <div class="logo-col col-sm-3 ">
          <img src="/img/pku/white-with-title.png" alt="logo">
          <p>北京大学智能计算与感知实验室<br> Intelligent Computing and Sensing Laboratory</p>
        </div>
      </div>
    </div>
  </section>
  <section class="credit-bar">
    <div class="container">
      <span>Copyright @ 2016 智能计算与感知实验室</span> 
      |
      <span>地址：北京市海淀区颐和园路5号理科一号楼1800</span>
      |
      <span>邮编：100871</span>
    </div>
  </section>
</footer>

<style>
  .container{
    word-wrap: break-word;
  }
</style>

{% if config.env == 'production' %}
<script src="/site.min.js"></script>
{% endif %}

{% if config.env == 'development' %}
<script src="/site.js"></script>
<script type="text/async-script" 
  data-src="//{{config.server.host}}:{{config.livereload}}/livereload.js">
</script>
{% endif %}

