@import 'styles/variables';
@import 'styles/mixins';

h3{
  border-bottom: 1px dashed #aaa;
  padding-bottom: 10px;
}
.up-file{
  border-bottom: 1px dashed #aaa;
  padding-bottom: 10px;
}
.btn-look{
  border: 10px;
}

#fileCover{
  height: 34px;
  min-width: 120px;
  width: auto;
  margin-left: 10px;
  border: 1px solid #aaa ;

}
#browse{
  float: left;
}
.btn-upload{
  //float: right;
  //text-align: right;
  color: white;
  :hover{
    color: white;
  }
}

.file-name{
  width: 50%;
}
