{% layout 'default-layout'%}

<div>

  {% include 'navbar' %}
 
  
  <div class="container">

    <!-- 新建滚动新闻 -->
    <div class="row sec">
      <div class="col-sm-6">
        {% include "home-news2" %}
      </div>
      <div class="col-sm-6">
        {% include "carousel" %}
      </div>     
    </div>

    {% include "home-news" %}

    <div class="row">
      <div class="col-sm-7">
        {% include "home-notices" %}
      </div>
      <div class="col-sm-5 img-entries">
        {% for entry in imgEntries %}
        {% include "home-img-entry"%}
        {% endfor %}
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        {% include "home-research" %}
      </div>
      <div class="col-sm-6">
        {% include "home-lab" %}
      </div>
    </div>
  </div>
</div>
