<meta charset="UTF-8">

<link rel="icon" type="image/png" href="/img/pku/red.png">
<link rel="stylesheet" href="/lib/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="/lib/font-awesome/4.2.0/css/font-awesome.min.css">

{% if config.env == 'development' %}
<link rel="stylesheet" href="/site.css">
{% endif %}

{% if config.env == 'production' %}
<link rel="stylesheet" href="/site.min.css">
{% endif %}

<script src="/lib/jquery-1.10.2.min.js"></script>
<script src="/lib/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="/lib/jquery-validation/jquery.validate.min.js"></script>
<script src="/lib/jquery-validation/localization/messages_zh.min.js"></script>
<script src="/lib/lodash.min.js"></script>
