{% layout 'default-layout'%}

<div>

  {% include 'navbar' %}

  <div class="container">
    <div class="feed" style="height: 40px"></div>
    <ul class="list-unstyled news-list ">
      {% for news in pager.results %}
      <li>
        <time>{{news.createdTime | date: "%Y-%m-%d" }}</time>
        <a class="title" href="/news/{{news.id}}" title="{{news.title}}">
            {{news.title}}
        </a>
      </li>
      {% endfor %}
    </ul>

    {% if pager.pages %}
    <nav>

      <ul class="pagination">
        {% if pager.prev %}
        <li>
          <a href="?page={{pager.prev}}" aria-label="上一页">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
        {% endif %}

        {% for page in pager.pages %}
        <li><a href="?page={{page}}">{{page}}</a></li>
        {% endfor %}

        {% if pager.next %}
        <li>
          <a href="#" aria-label="下一页">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
        {% endif %}
      </ul>
    </nav>
    {% endif %}

  </div>
</div>
